{% extends './base.html' %}

<!--Start Header -->

{% block header %}   
<div class="banner">
   <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><h2>Blanche</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a class="nav-link" href="#">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Expertise</a>
      </li>
      
    </ul>
      <ul class="navbar-nav ml-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <i class="fa fa-search"></i>
      </li>
      <li class="nav-item">
        <i class="fa fa-user"></i>
      </li>
      <li class="nav-item">
        <i class="fa fa-shopping-cart"></i>
      </li>
      
    </ul>
  </div>
</nav>
    
    <div class="home-header">
        <div class="banner-text">
            <p>Super Soft, Stylish Bed Linen</p><p> Made With Love </p>
        </div>
        <div class="explore">
            <p class="explore_text">EXPLORE</p>
            <div class="explore_line">
                 
            </div>
          </div>
    </div>
    
    
    
    
</div>
{% endblock%}

<!--End header -->

<!--Start Mid content -->

{% block mid_content %}
<div class="container">
   <div class="top_text">
      <p class="top_text_content">
        Our premium products got the finest quality cotton that create anexquisite lightweight
        textile that’s both soft and crisp – guaranteed to give you a wonderful night’s sleep
      </p>
   </div>
   <div class="products">

    <div class="row">
       <div class="col-md-6 product1">
            <div class="product_title">
                Shop bed lines
            </div>
       </div>
       <div class="col-md-6 product2">
        <div class="product_title">
            Shop bed lines
        </div>
       </div>
    </div>
    <div class="row">
        <div class="col-md-6 product2">
             <div class="product_title">
                 Shop bed lines
             </div>
        </div>
        <div class="col-md-6 product1">
         <div class="product_title">
             Shop bed lines
         </div>
        </div>
     </div>

   </div>
   <div class="top_text_header">
    <h3 class="">
       Best Sellers
    </h3>
 </div>
 <div class="products">

    <div class="row">
       <div class="col-md-4 ">
             <div class="product11">

             </div>
             <div class="product_info">
                <p class="product_name">
                   <b>Product Name</b> 
                </p>
                <p class="sub_info">
                 AED XXX
               </p>
               <p class="availability">
                Available in 5 colours
               </p>
             </div>
       </div>
       <div class="col-md-4">
            <div class="product22">

            </div>
            <div class="product_info">
                <p class="product_name">
                   <b>Product Name</b> 
                </p>
                <p class="sub_info">
                 AED XXX
               </p>
               <p class="availability">
                Available in 5 colours
               </p>
             </div>
       </div>
       <div class="col-md-4">
            <div class="product33">

            </div>
            <div class="product_info">
               <p class="product_name">
                  <b>Product Name</b> 
               </p>
               <p class="sub_info">
                AED XXX
              </p>
              <p class="availability">
               Available in 5 colours
              </p>
            </div>
       </div>
    </div>

</div>


</div>
{% endblock %}

<!--End mid content -->

<!--Start Comfort block -->

{% block comfort %}
<div class="confort">
   <div class="confort_text">
        Your Comfort is out #1 priority
   </div>
   <div class="row featured_comfort" >

     <div class="col-md-3">
        <div class="contents_confort">
            <i class="fa fa-star"></i>
            <p class="confort_title">Quality products</p>
            <p class="confort_desc">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>
     </div>

     <div class="col-md-3">
        <div class="contents_confort">
           <i class="fa fa-star"></i>
           <p class="confort_title">Quality products</p>
           <p class="confort_desc">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="contents_confort">
            <i class="fa fa-star"></i>
            <p class="confort_title">Quality products</p>
            <p class="confort_desc">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="contents_confort">
            <i class="fa fa-star"></i>
            <p class="confort_title">Quality products</p>
            <p class="confort_desc">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>
    </div>

   </div>
</div>
{% endblock %}

<!--End Comfort block -->